<%- contentFor('head') %>

<%- contentFor('body') %>

    <div class="hero-unit center no-border no-padding-bottom">
        <div class="container">
            <br><br><br><br><br><br><br> 
            <h1>Error! 500</h1>
            <br>
            <h1>Internal Server Error.</h1>
            <h1>Sorry, somethin went wrong!</h1>
            <br><br><br><br><br><br><br>
        </div>
    </div>

<%- contentFor('script') %>
